/* header var */
/* layout var */
/* nav var */
/* new-tweet var */
/* tweet var */
nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
nav span, nav a {
  font-family: "Source Sans 3", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
}
nav .tweet-text {
  display: flex;
  align-items: center;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1em;
}
nav .tweet-text .fa-angle-double-down {
  margin-left: 40px;
}

#compose-btn {
  cursor: pointer;
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
}
#compose-btn:hover {
  background-color: #e8e8e8;
}

#scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  display: none;
  opacity: 0.8;
}
#scroll-to-top-btn:hover {
  opacity: 1;
}
