nav {
    height: 120px;
    width: 100%;
    background-color: #4056A1;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* other nav styling */
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet-text {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 20px;
}

.tweet-text:hover {
    background-color: #e8e8e8;
}

.tweet-text i {
    margin-left: 10px; /* Adds space between the text and the icon */
}
  nav span, nav a {
    font-family: 'Bungee', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 100px;
  }
  nav .tweet-text {
    display: flex;
    align-items: center;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1em;
  }
  
  nav .fa-angle-double-down {
    margin-left: 20px;
  }
  #compose-btn {
    cursor: pointer;
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
}

#compose-btn:hover {
    background-color: #e8e8e8;
}
#scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  display: none;
  opacity: 0.8;
}

#scroll-to-top-btn:hover {
  opacity: 1;
}