/* header var */
/* layout var */
/* nav var */
/* new-tweet var */
/* tweet var */
#tweet-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tweet {
  border: 1px solid #e6ecf0;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}
.tweet header {
  display: flex;
  justify-content: space-between;
}

.tweet header > div {
  margin-left: 10px; /* Aligns name and avatar */
}

.tweet footer {
  display: flex;
  justify-content: space-between;
}

.tweet footer div {
  display: flex;
  justify-content: flex-end; /* Aligns icons to the right */
}

.tweet:hover i {
  color: #28f7f4; /* Change color on hover */
}